<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table border='1'>
    <thead>
      <th>content_id</th>
      <th>channel_id</th>
      <th>content_name</th>
      <th>colmun</th>
      <th>note</th>
      <th>create_user</th>
      <th>create_date</th>
      <th>update_user</th>
      <th>update_date</th>      
    </thead>
    <% data.rows.forEach(function(row) { %>
    <%# for(var i = 0; i < data.length; i++) %>
    <%# var row = data[i] %>
    <tbody>
      <td><%= row.content_id %></td>
      <td><%= row.channel_id %></td>
      <td><%= row.content_name %></td>
      <td><%= row.colmun %></td>
      <td><%= row.note %></td>
      <td><%= row.create_user %></td>
      <td><%= row.create_date %></td>
      <td><%= row.update_user %></td>
      <td><%= row.update_date %></td>
      </tbody>
    <% }); %>
  </table>


  </body>
</html>
