<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table border='1'>
      <thead>
        <th>data</th>
      </thead>
        <td><%= data %></td>
        </tbody>
    </table>

    <div>
    <%= data.id %><br>
    <%= data.name %><br>
    <%= data.arr %>
    <div>

  </body>
</html>
